

<div class="nav"></div>


<%= form_with(photo_comments_path(@photo, @comments), local: true) do |form| %>


  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
